:root{
    --primary-color: #7e1740;
    --secondary-color: #ffabdf;
    --background-color: #fde7f3;
    --text-color: #955c75;
    --light-text-color: #d4a3ba;
    --border-radius:20px;    
    --button-color: rgb(150, 34, 76);
    --box-color:pink;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color)
}

.container{
    width: 80%;
    margin: 0 auto;
}

.header{
    background-color: var(--primary-color);
    padding: 1rem;
}

.logo{
    color: rgb(255, 128, 187);
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    list-style: none;
    display: flex;
    gap: 1rem
}

.nav-links li a{
    color: rgb(255, 0, 136);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-links{
    color:white;
    text-decoration:none;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-links li a:hover{
    color: rgb(255, 0, 136);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.menu-toggle{
    font-size: 3rem;
    color:#ffabdf;
    border: none;
}

.main-content{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
      
.sidebar{
    width: 30%;
    background-color: var(--box-color);
    border-radius: var(--border-radius);
    box-shadow: #955c75;
    padding: 1rem;
}

.sidebar h2, h1, ul{
    margin-bottom: 1rem;
    margin-left: 20px;
    color:var(--primary-color)
}

.sidebar-link{
    list-style: none;
}

.sidebar-link li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    display: block;
    margin-bottom: 0.5rem;
}

.sidebar-link li a:hover{
    color: var(--secondary-color);
}

.cards{
    width: 70%;
}

.cards h2{
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.card{
    background-color: var(--box-color); 
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 1rem;
    margin-bottom: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.card img{
    width: 15%;
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover{
    background-color: var(--secondary-color);
}

h1, h2, h3, p, ul{
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.footer{
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: var(--border-radius);
}

@media(max-width: 768px){
    .main-content{
        flex-direction: column;
    }
}